html{
    font-size: 50%;
    
}
body {
    font-family: 'Corben', cursive;
    line-height: 1;
    font-weight: 400;
    color: #4a3014;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
  } 
*:focus{
    border: 2px solid #FEA134;
}
p{
    padding: 0 5rem;
    line-height: 1.5;
}

.logo{
    width: 75%;
    margin-bottom: 3.4rem;
}
header{
    background-color: #FEF2E5;
}

body > header, .nav_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about > p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
nav{
    padding-bottom: 3.4rem;
}


.nav_links{
    row-gap: 1.6rem;
    width:100vw;
}

a{
    color:#4a3014;
    text-decoration: none;
}
  
a.skip{
    background: white;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: -6.7rem;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:3.4rem;
    color: black;
    text-decoration-style: solid;
  }

.highlight a{
    color: #AD5701 !important;
    text-decoration: underline !important;
}
main{
    padding: 2.5rem 0;
}
.gallery {
    display: grid;
    padding: 1.6rem;
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
  }
.gallery-item{
    object-fit: cover;
    border-radius: 1.25rem;
}

h1{
    text-align:center;
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    color: #3b2610;
    /* letter-spacing: 1px; */
    margin:2rem;
    
}
h2,h3{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
    margin-bottom:3.2rem;
  }
h3{
    color:#e5912f;
    font-size:1.2em;
    line-height: 2;
    text-align: left;
    margin-bottom:0;
}
footer{
    background-color: #3b2610;
    color: white;
    padding: 3.75rem;
    text-align: center;
    margin-top:3.75rem;
}

.container, .cta-container, .faq-container{
    display:grid;
    row-gap: 4.8rem;
    max-width: 120rem;
    padding: 0 3.75rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-top: 3.75rem;
}
.faq-container{
    row-gap: 0;
}


.cta-img-box{
    height: 32rem;
    grid-row: 1;
    background-image: linear-gradient(rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) );
    background-size: cover;
    background-position: center;
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    border-radius: 1.375rem;
    overflow: hidden;
}
.meal-img{
    height:40vh;
    width:100%;
    object-fit: cover;
}
.meal-content{
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}
.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
    line-height:1.5;
    padding:0;
}
.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.meal-attribute {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.cta{
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 1.4rem;
    background-color: #FEF2E5;
    overflow: hidden;
}
.cta-form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    padding:3.75rem;
}
.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input, .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.cta-text {
    font-size: 1.875rem;
    line-height: 1.8;
    padding:0 3.75rem;
}

.btn, .btn:link, .btn:visited {
    padding: 1.5rem 1.875rem;
}
.btn--form {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    margin-top: 1.2rem;
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
}

@media all and (min-width:850px) {
    body > header, .nav_links{
        flex-direction: row;
        justify-content: space-around;
        
    }
    body > header{
        position:sticky;
        top: 0;
        left: 0;
    }
    .logo {
        width: 40%;
    }
    .container, .gallery{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3.2rem;
        row-gap:4rem;
    }
    .meal-img{
        height: 35vh;
    }
    .cta-container{
        padding:0 15rem;
    }
}