html{
    font-size: 50%;
    
}
body {
    font-family: 'Corben', cursive;
    line-height: 1;
    font-weight: 400;
    color: #4a3014;
    margin: 0;
    padding: 0;
    font-size: 16pt;
  } 
*:focus{
    border: 2px solid #FEA134;
}
.logo{
    width: 75%;
    margin-bottom: 20px;
}
header{
    background-color: #FEF2E5;
}

body > header, .nav_links,.pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about > p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
.pricing {
    flex-direction: row;
}
nav{
    padding-bottom: 20px;
}


.nav_links{
    row-gap: 10px;
    width:100vw;
}

a{
    color:#4a3014;
    text-decoration: none;
}
p {
    padding: 0 30px;
  }
  
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

.highlight a{
    color: #FEA134 !important;
    text-decoration: underline !important;
}
main{
    padding: 20px 0;
}
.gallery {
    display: grid;
    padding: 1.6rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
  }
.gallery-item img{
    object-fit: cover;
}

h1{
    text-align:center;
    font-size: 35px;
    line-height: 1.05;
    margin-bottom: 25px;
    font-weight: 700;
    color: #3b2610;
    letter-spacing: -0.5px;
}
h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    margin-bottom:25px;
  }
footer{
    background-color: #3b2610;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top:20px;
}

@media all and (min-width:850px) {
    body > header, .nav_links{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    body > header{
        position:sticky;
        top: 0;
        left: 0;
    }
    .card{
        flex-basis: 250px;
    }
    .card h3 {
        text-align: left; 
    } 
}
.container{
    display:grid;
    row-gap: 4.8rem;
    max-width: 120rem;
    padding: 0 30px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-top:20px;
}


.cta-img-box{
    height: 32rem;
    grid-row: 1;
    background-image: linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) ), url(../img/gallery/gallery-6.jpg);
    background-size: cover;
    background-position: center;
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}
.meal-img{
    height:50vh;
    width:100%;
    object-fit: cover;
}
.cta{
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
}
.cta-form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    padding:30px;
}
.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input, .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.btn, .btn:link, .btn:visited {
    padding: 2.4rem 1.6rem;
}
.btn--form {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.3s;
    margin-top: 1.2rem;
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
}